.auth h2 {
	font-size: 1.2rem;
	font-weight: 600;
	color: #333;
}
@media (min-width: 768px) {
	.auth h2 {
		font-size: 1.8rem;
	}
}

/* Sign In */
.sign-in {
	text-align: center;
}
.sign-in h1 {
	color: var(--primary-typo-color);
	font-weight: 500;
}
.sign-in h4 {
	font-weight: 400;
}
form.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	gap: 3px;
}
form.login button[type="submit"] {
	margin-top: 5px;
}
form.login a {
	text-align: start;
	margin-top: 5px;
	text-decoration: none;
	color: var(--primary-typo-color);
	transition: color 100ms ease-in-out;
}
form.login a:hover {
	color: var(--primary-typo-color-hover);
}

/* Sign up */
.sign-up {
	text-align: center;
}
.sign-up h1 {
	color: var(--primary-typo-color);
	font-weight: 500;
}
.sign-up h4 {
	font-weight: 400;
}

/* Phone input */
.phone-input {
	border: 1px solid rgba(0, 0, 0, 0.23);
	border-radius: 8px;
	padding: 0.6rem 1rem;
}
.phone-input:hover {
	border: 1px solid rgba(0, 0, 0, 1);
}
.phone-input input {
	outline: 0;
	font-size: 16px;
}
