/* Variables */
:root {
	--primary-color: #aa1894;
	--primary-color-filter: invert(16%) sepia(97%) saturate(4699%)
		hue-rotate(300deg) brightness(77%) contrast(89%);
	--primary-color-hover: #970083;
	--primary-typo-color: #333;
	--primary-typo-color-hover: #000000;
	--button-border-radius: 10px;
	--primary-border-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	--cards-border-radius: 20px;
	--cards-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Reset default browser styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit;
	vertical-align: baseline; */
}
/* Global box-sizing */
html {
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll !important;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
a {
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif !important;
	margin: 0;
	padding: 0;
	padding-right: 0 !important;
	background-color: #f5f5f5;
	overflow-x: hidden;
	position: relative;
}
input,
a,
button {
	font-family: 'Poppins' !important;
}
button {
	font-size: 16px;
}
section.component {
	padding: 50px 0;
}
h1 {
	font-weight: 600 !important;
}
h2 {
	font-weight: 400;
	margin-bottom: 10px;
}
h3,
h4 {
	font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
select,
textarea {
	font-family: 'Poppins' !important;
	margin: 0;
}
hr {
	border: none;
	height: 1px;
	margin: 2rem 0;
	background-color: #ccc;
}

input[type='radio']:checked,
input[type='checkbox']:checked {
	accent-color: var(--primary-color);
}
/* Define the default container styles */
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 100%;
		max-width: calc(100% - 150px) !important;
		box-sizing: border-box;
		margin-left: 0;
	}
}

/* Modal */
.modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: left;
	background: rgba(0, 0, 0, 0.9);
	transition: opacity 0.25s ease;
	z-index: 10;
}
.modal-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
}
.modal-state {
	display: none;
}
.modal-state:checked + .modal {
	opacity: 1;
	visibility: visible;
}
.modal-state:checked + .modal .modal-inner {
	top: 0;
}
.modal-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.modal-container {
	transition: top 0.25s ease;
	position: absolute;
	top: 10%;
	right: 0;
	bottom: 0;
	left: 0;
	width: 95%;
	margin: auto;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	height: 90%;
}
.modal-inner {
	padding: 2em 2em;
	overflow-y: auto;
	height: 65%;
}
.modal-inner section h3 {
	font-weight: 600;
	margin-bottom: 10px;
}
.modal-inner hr {
	margin: 20px 0;
	width: 100%;
}
.modal-inner .tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px 20px;
}
.modal-inner .tags .tag {
	display: flex;
	align-items: center;
	gap: 5px;
}
.modal-inner .tags .tag label {
	white-space: nowrap;
}
@media screen and (min-width: 768px) {
	.modal-container {
		top: -10%;
		height: 80%;
		width: 50%;
	}
}
.modal-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-footer button {
	padding: 12px 20px;
}
.modal-close {
	position: absolute;
	left: 1.2em;
	top: 1.1em;
	width: 1.1em;
	height: 1.1em;
	cursor: pointer;
}

.modal-close:after,
.modal-close:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 1em;
	background: #333;
	display: block;
	transform: rotate(45deg);
	left: 50%;
	top: 0;
	bottom: 0;
	transition: 200ms;
}

.modal-close:hover:after,
.modal-close:hover:before {
	background: var(--primary-color);
}

.modal-close:before {
	transform: rotate(-45deg);
}

/* Buttons */
.btn {
	border-radius: var(--button-border-radius);
	font-size: 14px !important;
	padding: 0.8rem 2rem;
	text-decoration: none;
	cursor: pointer;
	transition: all 300ms;
	display: inline-block;
}
@media screen and (min-width: 768px) {
	.btn {
		font-size: 16px;
	}
}

.btn-icon {
	display: flex;
	align-items: center;
	gap: 3px;
}
.btn-icon svg {
	margin-right: 5px;
}
.btn-main {
	background-color: var(--primary-color);
	color: #fff;
}
.btn-main:hover {
	background-color: var(--primary-color-hover);
	color: #fff !important;
}
.btn-outline {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
}
/* Utility styles */
.color-secondary {
	filter: invert(14%) sepia(13%) saturate(4076%) hue-rotate(209deg)
		brightness(94%) contrast(92%);
}
.img-responsive {
	width: 100%;
}
.disable-scroll {
	overflow: hidden;
}
.text-center {
	text-align: center;
}
.d-flex {
	display: flex;
}
.card-primary {
	padding: 20px;
	background-color: #fff;
	border-radius: var(--cards-border-radius);
	box-shadow: var(--cards-box-shadow);
}
.card-secondary {
	background-color: #dfdfdf;
	padding: 20px;

	border-radius: var(--cards-border-radius);
	box-shadow: var(--cards-box-shadow);
}
.card-secondary.img-preview img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	max-height: 14rem;
	border-radius: var(--cards-border-radius);
}
.card-outline {
	padding: 30px;
	border-radius: var(--cards-border-radius);
	border: 1px solid #dededf;
}
.card-outline .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-outline .head .icon {
	width: 20px;
	cursor: pointer;
}
.card-outline .head svg path {
	fill: #f6565e;
}
.my-2 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.mt-1 {
	margin-top: 10px !important;
}
.mb-1 {
	margin-bottom: 10px !important;
}
.mb-2 {
	margin-bottom: 20px !important;
}
.mb-3 {
	margin-bottom: 30px !important;
}
.mt-2 {
	margin-top: 20px !important;
}
.mt-3 {
	margin-top: 30px !important;
}
.text-end {
	text-align: end;
}
.head .breadcrumb {
	margin-top: 10px;
}
.modal {
	z-index: 100;
}
.fw-normal {
	font-weight: 500 !important;
}
.row .col {
	display: flex;
	justify-content: space-between;
}
.scroll-x {
	overflow-x: auto;
}
@media screen and (min-width: 992px) {
	.text-nowrap-lg {
		white-space: nowrap;
	}
}
/* Colors */
.clr-success {
	color: #409843;
}
.clr-danger {
	color: #c01f26;
}

/* Minor bugs due to conflicting styles force fix */
.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
	margin: 0 !important;
}
