.hero-section {
  background-image: url(../../assets/cover.jpg);
  box-shadow: inset 0 0 0 2000px rgba(19, 19, 25, 0.5);
}
.hero-section__content {
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}
.hero-section__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 64px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero-section__desc {
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  margin-top: 24px;
  padding: 0;
  text-align: center;
}
