.carousel {
  overflow: hidden;
  cursor: grab;
}
.section-footer {
  margin-top: 3em;
  text-align: center;
}
a.btn {
  border: 2px solid #fd545a;
  color: black;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 3px;
}
