.event-card {
  max-width: fit-content;
  position: relative;
  margin: 0 20px;
}
.event-card img {
  width: 275px;
  max-width: 275px;
  border-radius: 5px;
}
.event-card__details {
  position: absolute;
  bottom: 0;
  padding: 2rem 1rem;
  color: white;
}
.event-card__details .event-card__metaInfo {
  font-size: 16px;
}

.event-card__details .event-card__title {
  font-size: 24px;
  margin: 0;
}
